<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
<link rel="icon" type="image/x-icon"
	th:href="@{/img_curry/favicon.ico}">
<meta charset="UTF-8">
<title>個人情報の取り扱いについて</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"> <!-- 企業ロゴ --> <img
						alt="main log" th:src="@{/img_curry/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a th:href="@{/showCartList}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<a th:href="@{showOrderHistory}" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
						<a th:href="@{/toLoginPage}" class="navbar-link">ログイン</a>&nbsp;&nbsp;
						<a href="item_list.html" class="navbar-link">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>

	<div class="wrapper">
		<div class="container">


			<!-- table -->
			<div class="row">
				<div
					class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
					<h3 class="text-center">個人情報の取り扱いについて</h3>
				</div>
			</div>
<pre style="border-style:none;background-color: transparent;">
<h4>1.個人情報の定義</h4>
個人情報とは、個人に関する情報であり、氏名・生年月日・住所をはじめ電話番号・メールアドレスなど、個人が識別できるものをいいます。
又、組み合わせることによって個人が識別できる情報も個人情報として取り扱います。

<h4>2.個人情報の利用目的</h4>
弊社の人材育成派遣・派遣・紹介事業に関する個人情報（個人番号および特定個人情報を除きます。下記8．をご覧ください）利用目的は下記となります。

1）弊社サービス提供をご希望される方の利用目的
・当該サービスに関する連絡及び通知
・弊社からの情報提供（広告を含む）
・カスタマーサポートのご提供
・御意見や御感想の回答のお願い

2）弊社サービスをご利用いただいている方の利用目的
・当該サービスに関する連絡及び通知
・弊社からの情報提供（広告を含む）
・カスタマーサポートのご提供
・御意見や御感想の回答のお願い

3）セミナー等にご参加いただいた方の利用目的
・該当セミナーに関する連絡及び必要な事務手続き
・弊社からの情報提供（広告を含む）
・御意見や御感想の回答のお願い

4)直接書面以外で取得した個人情報の利用目的
・弊社からの情報提供（広告を含む）
・御意見や御感想の回答のお願い

5）キャンペーン・懸賞等にご応募いただいた方の利用目的
・抽選・景品の送付に関する連絡及び必要な手続き
・弊社からの情報提供（広告を含む）
・御意見や御感想の回答のお願い

6）迷惑メールに関するお問い合わせをいただいた方の利用目的
・当該お問い合わせに関する連絡及び通知
・統計資料の作成

弊社に勤務する者（役員・従業員・嘱託・契約社員、派遣社員、パートタイマー・アルバイト）、弊社に勤務する者になろうとする者又なろうとした者
（以下、「採用応募者など」という）及び退職者の個人情報（個人番号および特定個人情報を除きます。下記8.をご覧ください。）の利用目的は下記となります。

a）弊社に勤務する者の個人情報の利用目的
・人事管理
・給与などの支払
・福利厚生の提供
・社会保険関係の諸手続き
・法律上必要な諸手続き
・その他雇用管理

b）採用応募者などの個人情報の利用目的
・採否の検討、決定
・採用条件の検討、決定
・問い合わせ対応
・事務連絡など

c）退職者の個人情報の利用目的
・退職書類の送付
・退職後の連絡など

d）防犯カメラにより記録された映像情報の利用目的
・防犯のため

弊社はクラウド(ASP)サービスを提供するにあたり、お客様より間接的に個人情報（個人番号および特定個人情報を除きます。下記8.をご覧ください。）
を取得する場合があります。弊社のお客様がサービスに登録している個人情報については、データとしての機密性、完全性、可用性を適切に保つために保管やバックアップを行います。
それ以外の目的のために弊社サーバに間接的に登録された個人情報を利用することはありません。

<h4>3.個人情報の提供</h4>
a)弊社は次の場合を除き、お客様の個人情報（個人番号および特定個人情報を除きます。下記8.をご覧ください。）を第三者に開示又は提供いたしません。
(1)お客様の同意を得ている場合
(2)法令に基づく場合
(3)人の生命、身体又は財産の保護のために必要であって、お客様の同意を取ることが困難な場合
(4)利用目的の達成に必要な範囲で、個人情報の取扱を委託する場合
(5)合併、会社分割、事業譲渡等の理由によって事業が他社に継承される場合
(6)プレゼント当選の発表及びプレゼント発送のため
(7)個人を特定できない方法でマーケティング活動を行う場合
(8)犯罪捜査の為など警察、検察、裁判所、弁護士会またはこれらに準じた権限を有する機関から開示請求があった場合
(9)第三者利用の調査などの正当な目的の基づき、クレジットカード会社から開示請求があった場合
(10)弊社のサービス不正利用者又は不正購入を防止するため必要のある場合
(11)弊社が発行する請求書の発行代行を第三者へ委託する場合

b)弊社が第三者に提供し得る個人のデータ（個人番号および特定個人情報を除きます。下記8.をご覧ください。）の項目は、
  弊社サービスの利用に際して取得される情報等であり、これらを弊社の所管システム、電子媒体及び紙媒体の手段・方法で提供いたします。

c)弊社は、お客様の求めに応じてお客様本人が識別される個人データの第三者への提供を停止いたします。

【お支払いにクレジットカードをご利用のお客様】
クレジットカードでのご決済時に、カード情報（カード名義・カード番号・有効期間）が、決済代行会社を通じてクレジットカード会社へ提供されます。
弊社では、決済業務を株式会社イーコンテクストに委託しており、クレジットカード情報は同社が運用する決済システムに保管されます
（弊社の設備上には保管されません）カード情報の保管期間は、サービスのお申込み時からサービス解約後１年間となります。

<h4>4.個人情報の共同利用</h4>
当社は、ご提供いただきました個人情報（個人番号、特定個人情報及びを除く。下記８.をご覧ください。）
をご提供いただいた方からの要望または同意を得た後に、厳格な管理・監督のもとで共同利用します。 
なお、共同利用の取り扱いにつきましては、今後必要に応じて見直しをさせていただくことがあります。
その際はあらかじめ公表させていただきます。

1)共同利用の利用目的
・個人情報の取得の際に御本人からの同意を得た目的及び2.個人情報の利用目的の1）にて公表している目的
2)共同利用する個人情報の項目
・氏名、所属に関する情報（会社名、部署名等）、役職名、住所、電話番号、FAX番号、メールアドレス、
　当社への問い合わせ内容、商談内容、グループ各社ご利用サービス履歴
3)共同利用の範囲
・株式会社ラクス
・株式会社ラクスライトクラウド
・株式会社ラクスパートナーズ
4)共同利用する個人情報の管理責任者
・株式会社ラクス　個人情報管理責任者
5)取得方法
・書面、電子データ等

<h4>5.外部委託</h4>
個人情報（個人番号および特定個人情報を含みます。）の処理を外部に委託する際に、個人情報を委託する場合があります。
委託処理を行う場合には、十分な個人情報保護水準を確保していることを条件として委託先を選定し、機密保持契約を結んだ上で行います。

<h4>6.個人情報の管理</h4>
個人情報（個人番号および特定個人情報を含みます。）への不当なアクセス又は個人情報の紛失、破壊、改竄、 漏洩などの危険に対して、
技術面及び組織面において必要な安全対策を継続的に講じるよう努めています。

<h4>7.クッキーの取扱いに関して</h4>
「クッキー」とは、Webサーバがお客様のコンピュータ（ブラウザ）を識別する業界標準の技術です。
弊社では、一部サイトにおいて、クッキーを利用してお客様の行動履歴にかかる情報を取得しております。
弊社は他のWebサイトが使用しているクッキーを読み込むことはできません。
なお、お客様が個人情報を入力しない限り、お客様ご自身を識別することはできず、匿名性は維持されます。
また、お客様がクッキーの活用を望まれない場合は、ご使用のWebブラウザでクッキーの受け入れを拒否する設定をすることが可能です。
ただし、受け入れを拒否した場合は、弊社のサービス等のご利用ができない場合があります。

<h4>8.個人番号および特定個人情報のお取扱い</h4>
行政手続における特定の個人を識別するための番号の利用等に関する法律（番号法）にて定められている個人番号および特定個人情報は、
同法で限定的に明記された目的以外のために取得・利用しません。番号法で限定的に明記された場合を除き、個人番号および特定個人情報を第三者に提供しません。
また、共同利用も行いません。
なお、お客様から個人番号及び特定個人情報を取得・利用・保管することはありません。

<h4>9.個人情報の開示等について</h4>
「2.個人情報の利用目的」、「4.個人情報の共同利用1)共同利用の利用目的」に同意された方は、
弊社に個人情報（個人番号および特定個人情報を含みます。）の開示等を請求することができます。
当社が保有する開示対象個人情報の利用目的の通知・開示・内容の訂正・追加または削除・利用の停止・消去および第三者への提供の停止（「開示等」といいます。）
をご希望の方は下記にお申し出ください。その際、お申出の方が本人であることを確認させていただいた上で速やかに対応させていただきます。
ご希望の全部または一部に応じられない場合はその理由をご説明いたします。また、当該お申し出によって取得した個人情報は、
お申し出に関する連絡・事務手続きに必要な範囲で利用させていただきます。

【個人情報の開示等に係る申請の手順】
下記よりお問い合わせ内容に沿った申請用紙をダウンロード、もしくはお問い合わせ窓口へメールを送信いただければ、窓口担当者が所定の申請用紙をお送りいたします。
＜ 用紙ダウンロードはこちらから＞

1.申請書などをお受け取りになられましたら、ご案内に沿って必要事項をご記入ください。
2.ご記入頂いた申請書及び弊社指定のご本人確認資料をご返送ください。

本人確認のための資料
ご本人確認をさせていただくため、次の資料の写しのうち1点を申請書とともにお送りください。
ご提出いただけない場合は、別途ご案内いたします。

1.運転免許証の写し
2.旅券（パスポート）の写し
3.外国人登録証の写し
4.住民票の写し
5.健康保険証の写し
6.学生証の写し

【開示等の求めをするものが、代理人又は親権者の場合】
開示等の求めをされているご本人様と、代理人様の身分証明となる書類（上記資料の写しのうち1点を各人様分ご用意下さいませ）及び代理委任状（原本）をお送り下さい。

又、ご本人様が未成年で親権者様よりご申請の場合には、親権者であることを確認させていただくため、ご本人様及び親権者様が共に記載され、
その続柄が示された戸籍謄抄本の写しか住民票の写しをお送り下さいますようお願い申し上げます。

【手数料および徴収方法】
手数料額：開示等1件につき1000円の手数料をお支払いいただきます。
徴収方法：手数料分の切手を所定の申請書と一緒に郵送下さい。

<h4>10.お問い合わせなど</h4>
本件及び個人情報の開示等に関するお問い合わせは下記窓口までお願い申し上げます。

株式会社ラクスパートナーズ
個人情報管理責任者　中島　晋平
E-Mail： privacy_rp@rakus.co.jp

なお、既に弊社にご登録いただいている方の場合は、本人確認の都合上、必ずご登録いただきましたメールアドレスにてご連絡くださいますよう、よろしくお願い申し上げます。

このページの改定について
弊社は、より一層の個人情報保護を図る為、各種法令やガイドラインの制定・変更に伴いこのページの内容を変更する場合がありますので、あらかじめご了承下さいますようお願いいたします。
</pre>


		</div>
		<footer>
		<a style="color:white;" th:href="@{https://www.rakus-partners.co.jp/}">運営会社</a>｜ 
		<a style="color:white;" th:href="@{/privacy/handle}">個人情報の取り扱いについて</a>｜ 
		<a style="color:white;" th:href="@{/privacy/}">個人情報保護方針</a>｜ 
		<a style="color:white;" th:href="@{/privacy/security}">情報セキュリティ基本方針</a><br>
		<hr style="border-style:white;"> 
		Copyright © Rakuraku-Curry LTD. All Rights Reserved.
		</footer>
	</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>